@use "../styles/core" as *;

.authContainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background;
  overflow-x: hidden;
  position: relative;

  &::selection {
    background: rgba($primary-light-rgb, 0.3);
  }
}

.ambientLight {
  position: absolute;
  border-radius: 9999px;
  filter: blur(120px);
  mix-blend-mode: screen;
  pointer-events: none;

  &.top {
    top: -20%;
    left: -10%;
    width: 50%;
    height: 50%;
    background-color: rgba($primary-light-rgb, 0.05);
  }

  &.bottom {
    bottom: -20%;
    right: -10%;
    width: 50%;
    height: 50%;
    background-color: rgba($primary-dark-rgb, 0.1);
  }
}